body {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(240, 240, 240);
}
.container {
  max-width: 600px;
  background: linear-gradient(310deg, rgb(85, 88, 218) 1.8%, #5fd1f9 100.5%);
  border-radius: 4px;
}
.row .col {
  padding: 5px;
}
.weather-icon {
  font-size: 40px;
}
.card-text {
  font-size: 12px;
}
h1 {
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  margin-bottom: 0px;
  margin-left: 3px;
}
h3,
#current-day,
#current-time {
  font-size: 16px;
  text-align: left;
  margin-left: 5px;
}
.card-title {
  font-size: 15px;
}
h2.card-title.main {
  font-size: 70px;
  font-weight: 500;
}
h5.card-title.main {
  font-size: 24px;
  font-weight: 600;
}
.card-body {
  padding: 10px;
}

.forecast {
  padding: 10px;
}
.text-center {
  background: none;
  border: none;
}

.card-text.main {
  font-size: 12px;
  margin-bottom: 3px;
}
span {
  font-size: 130px;
  text-align: center;
  padding: 0px;
}
input {
  margin: 10px auto -10px auto;
}
.temperature-units a {
  text-decoration: none;
  color: black;
}

.temperature-units {
  color: black;
  font-size: 16px;
}
h2,
span.temperature-units {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.row.mb-3 {
  padding: 10px 20px 10px 5px;
}

.cities {
  padding: 10px 10px 20px 10px;
}

body > div > div.row.cities.text-center > div > button {
  color: white;
  background: black;
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

body > div > form > div > div.col-3 > input {
  background-color: #5fccf7;
  border: none;
  color: black;
}

.btn-primary:hover {
  background: white;
  border: none;
  color: black;
}
.coded-by {
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

#fahrenheit-link {
  color: #1e78ff;
}

form#search-form {
  display: inline-flex;
  gap: 10px;
}

#search-field {
  width: 300px;
}

#search-button {
  width: 80px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 0px;
}
